.ipynb_checkpoints/
__pycache__/
checkpoints/
configs/
!configs/
wandb/
plots/
logs/
nbs/
data/
*.egg-info/
*.code-workspace
*.log
*.png
*.pdf
*.pth
*.ipynb
!hackathon_playground.ipynb
*.yaml
!codabench/**/*.yaml
!configs/*.yaml
*.pt